@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body {
  background-image: url("../imgs/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw /*view port width*/;
  height: 100vh /*view port height*/;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.661);
}

.title {
  font-size: 48px;
  color: white;
}

.title span {
  color: #53a4ff;
}

.div-apresentation {
  padding-top: 128px;
  text-align: center;
}
.div-inputs {
  padding-top: 105px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.input-numero {
  all: unset;
  width: 200px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 2px 10px;
}

.select-base {
  width: 200px;
  height: 35px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 2px 10px;
}
.select-base option {
  color: black;
}

.button-calcular {
  all: unset;
  padding: 8px 16px;
  color: white;
  border-radius: 6px;
  background-color: #155dfc;
  cursor: pointer;
}

.div-cards {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 26.5px;
}

.card {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  color: black;
}

.card h3 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.card h3 span {
  color: black !important;
}

.card p,
.card p span {
  margin-top: 10px;
  color: black;
  font-size: 16px;
}

.card button {
  all: unset;
  width: 100%;
  height: 35px;
  text-align: center;
  margin-top: 24px;
  background-color: #155dfc;
  color: white;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 300;
}

footer b {
  font-weight: bold;
  color: #155dfc;
}
